@model IEnumerable<EasyMadModul.Models.FoodCardModel>

@{


    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <h5 class="card-title">@item.Name</h5>
                <img src="@item.FoodImg" class="card-img-top" alt="...">
                <h5>@item.FoodDish</h5>
                <div class="card-body">

                    <button type="button" class="btn btn-primary">Ja dak</button>

                </div>
            </div>
        </div>
    </div>
  
}